<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>2016 Data</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>
    <div class="container">
        <div class="row">
            <center><strong><h1>This is data from the top 10 companies for 2016</h1></strong></center>
            <!-- Add link back to home page -->
            <center><p>Return <a href="/">home!</a></p></center>
            <img src="/static/Top10_2016_Revenue.png" height="500" width="1000">
        </div>
            <!-- shows our cool data we did stuff to -->
            <br>
            <br>
            <center><strong><p>Check out the top 10 in 2016. Can you guess how many remained in top 10 in 2017?</p></strong></center>
            <br>
            <br>
            {% for row in data2016 %}
            <h3>Company: {{row["Company"]}}</h3>
            <ul>Rank: {{row["Rank"]}}</ul>
                {% for key, value in row["Additional Info"].items() %}
                    <ul>{{key}}: {{value}}</ul>
                {% endfor %}
           {% endfor %}

        </div>
    </div>
</body>
<br>
<br>
<br>
<style>
    h1 {
        font-size: 50px;
    }
    div {
        background: white;
    }
    body {
        font-family: Arial, Helvetica, sans-serif;
        background-image: url("https://wallpapercave.com/wp/wp2128270.jpg");
        background-size: cover;
        padding: 100px 100px;
        margin: 10px;
    }
</style>
</html>
