<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>2016 Data</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>
    <div class="container">
        <div class="row">
            <h1>This is data from the top 10 companies for 2016</h1>
            <!-- Add link back to home page -->
            <p>Return <a href="/">home!</a></p>
        </div>
            <!-- shows our cool data we did stuff to -->
            <p>Check out this data!</p>
            {% for row in data2016 %}
            <h3>Company: {{row["Company"]}}</h3>
            <ul>Rank: {{row["Rank"]}}</ul>
                {% for key, value in row["Additional Info"].items() %}
                    <ul>{{key}}: {{value}}</ul>
                {% endfor %}
           {% endfor %}

        </div>
    </div>
</body>
</html>
