<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>2017 Data</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>
    <div class="container">
        <div class="row">
            <h1>This is data from the top 10 companies for 2017</h1>
            <!-- Add link back to home page -->
            <p>Return <a href="/">home!</a></p>
            <img src="/static/Top10_2017_Revenue.png" height="500" width="1000">
        </div>
            <!-- Add Welcome message with name and hobby served from backend -->
            <br>
            <br>
            <strong><center><p>In 2017 top 10 remained the same as in 2016. No chance at top with Walmart #1 both years.</p></center></strong>
            <br>
            <br>
            {% for row in data2017 %}
            <h3>Company: {{row["Company"]}}</h3>
            <ul>Rank: {{row["Rank"]}}</ul>
                {% for key, value in row["Additional Info"].items() %}
                    <ul>{{key}}: {{value}}</ul>
                {% endfor %}
           {% endfor %}
  
        </div>
    </div>
</body>
<br>
<br>
<br>
</html>
