<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Stock Data ETL Project Team 4</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <!-- Add Welcome message with links to the stock infos -->
      <h1>Welcome to our ETL Project</h1>
      <p>Here we are examining stock prices for the years 2016 and 2017 from the <strong>Top 10 Companies by Fortune</strong></p>
      <img src="/static/Team_Picture.jpg" height="250" width="500">

    </div>
    
    <!-- Add link to 2017 -->
    <p> Click <a href="api/v1.0/Top10_2017">here</a> to see the <strong>Top 10 Companies for 2017</strong></p>
    <br>
    <!-- Add link to 2016 -->
    <p> Click <a href="api/v2.0/Top10_2016">here</a> to see the <strong>Top 10 Companies for 2016</strong></p>
    <br>
    <p> Click <a href= "/static/Combined.html">here</a> to see the<strong> Top 10 Companies in 2016 and 2017</strong></p>
    <br>
    <center><iframe src="https://giphy.com/embed/l0HlDDyxBfSaPpU88" width="500" height="300" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/southparkgifs-l0HlDDyxBfSaPpU88"></a></p></center>
  </div>
  <br>
  <br>
  <br>
  <style>
    div {
      background-color: white;
    }
    p {
      font-size: 30px;
    }
    body {
      font-family: Arial, Helvetica, sans-serif;
      background-image: url("http://www.baltana.com/files/wallpapers-7/Stock-Market-Desktop-Wallpaper-23328.jpg");
      background-size: cover;
      padding: 100px 100px;
      margin: 10px;
    }
  </style>
  
</body>

</html>

