<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Stock Data ETL Project Team 4</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      
      <!-- Add Welcome message with links to the stock infos -->
      <h1>Welcome to our ETL Project</h1>
      <p>Here we are examining stock prices for the years 2016 and 2017 for the <strong>Top 10 tickers</strong></p>

    </div>
    
    <!-- Add link to 2017 -->
    <p> Click <a href="api/v1.0/Top10_2017">here</a> to see the <strong>Top 10 Companies for 2017</strong></p>

    <!-- Add link to 2016 -->
    <p> Click <a href="api/v2.0/Top10_2016">here</a> to see the <strong>Top 10 Companies for 2016</strong></p>

  </div>
</body>

</html>
