<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Company</th>
      </tr>
    <tr>
      <th>Ticker</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>WMT</th>
      <td>Walmart</td>
    </tr>
    <tr>
      <th>XOM</th>
      <td>Exxon Mobil</td>
    </tr>
    <tr>
      <th>APPL</th>
      <td>Apple</td>
    </tr>
    <tr>
      <th>BRK.B</th>
      <td>Berkshire Hathaway</td>
    </tr>
    <tr>
      <th>MCK</th>
      <td>McKesson</td>
    </tr>
    <tr>
      <th>UNH</th>
      <td>UnitedHealth Group</td>
    </tr>
    <tr>
      <th>CVS</th>
      <td>CVS Health</td>
    </tr>
    <tr>
      <th>GM</th>
      <td>General Motors</td>
    </tr>
    <tr>
      <th>F</th>
      <td>Ford Motor</td>
    </tr>
    <tr>
      <th>T</th>
      <td>AT&amp;T</td>
    </tr>
  </tbody>
</table>